<ion-header mode="md" class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">PIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding">
    <ion-item color="primary" lines="none">
      <ion-avatar slot="end">
        <img src="/assets/shapes.svg">
      </ion-avatar>
      <ion-label *ngIf="control == 'transferir'">
        <ion-text>
          <p>Usuario: {{dato1}}</p>
          <p>Tipo: Transferencia</p>
          <p>Monto: {{monto}} Bs.</p>
        </ion-text>
      </ion-label>
      <ion-label *ngIf="control == 'pagarcobro'">
        <ion-text>
          <p>Usuario: {{nombrecob}}</p>
          <p>Tipo: Pagar el cobro</p>
          <p>Monto: {{monto}} Bs.</p>
        </ion-text>
      </ion-label>
      <ion-label *ngIf="control == 'pagarsinmonto'  || control == 'pagarconmonto'">
        <ion-text>
          <p>Usuario sin monto: {{nombrecob}}</p>
          <p>Tipo: Pagar QR</p>
          <p>Monto: {{monto}} Bs.</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-text color="primary">
      <h1 style="font-size: 3em;">{{ characters }}</h1>
    </ion-text>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(1)">
          <ion-text color="primary">
            <h1 class="number">1</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(2)">
          <ion-text color="primary">
            <h1 class="number">2</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin">
          <ion-text color="primary" (click)="onClick(3)">
            <h1 class="number">3</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(4)">
          <ion-text color="primary">
            <h1 class="number">4</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(5)">
          <ion-text color="primary">
            <h1 class="number">5</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(6)">
          <ion-text color="primary">
            <h1 class="number">6</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="2.5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(7)">
          <ion-text color="primary">
            <h1 class="number">7</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(8)">
          <ion-text color="primary">
            <h1 class="number">8</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(9)">
          <ion-text color="primary">
            <h1 class="number">9</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="divider_20"></div>
    <ion-row>
      <ion-col offset="5" size="2" class="ion-align-self-center">
        <div class="circle_pin" (click)="onClick(0)">
          <ion-text color="primary">
            <h1 class="number">0</h1>
          </ion-text>
        </div>
      </ion-col>
      <ion-col offset="0.5" size="2" class="ion-align-self-center">
        <div class="btn_delete" (click)="onClick('x')">
          <ion-text color="primary">
            <h1 class="number">X</h1>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>