.circle {
    position: absolute;
    top: -70vw;
    left: -5vw;
    width: 110vw;
    height: 110vw;
    background: var(--ion-color-primary);
    border-radius: 50%;
}

.logo {
    position: fixed;
    width: 25%;
    top: 6px;
    left: 60vw;
}

ion-header{
    z-index: -1;
}


ion-content{
    //--background: #fff url('/assets/bg_login.svg') no-repeat center center / cover;
    --background: var(--ion-color-primary) !important
}

ion-input {

}

.input{
    background-color:#fff !important;
    padding: 15px !important;
    height: 40px !important;
    border-radius: 25px !important;
    color: var(--ion-color-primary) !important;
    //border: 1px solid #fff !important;
}

ion-footer{
    background: var(--ion-color-primary) !important
}

ion-button{
    background: var(--ion-color-primary) !important;
    height: 40px !important;
    border-radius: 25px !important;
    border: 1px solid #fff !important;
}