<ion-header mode="md" class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios"> Exitoso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center">
    <ion-icon size="large" color="success" name="checkmark-circle"></ion-icon>
    <!-- <ion-icon size="large" color="danger" name="close-circle"></ion-icon> -->
    <p>Mensaje transaccion</p>
  </div>
</ion-content>
<ion-footer mode="md" class="ion-no-border ion-padding">
  <ion-button shape="round" expand="full" color="primary" routerLink="/tabs">
    <ion-text>
      Aceptar
    </ion-text>
  </ion-button>
</ion-footer>