<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button mode="ios" text="" defaultHref="/tabs"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Cargar dinero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <div *ngFor="let dato of tarjetas; let i = index">
      <div *ngIf="guardarselected == dato">
        <ion-card (click)="select(dato,i)">
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="11">
                  <p>{{dato.name}} </p>
                  <h3><b>**** **** **** {{dato.numerito}}</b></h3>
                  <p>{{dato.date}}</p>
                </ion-col>
                <ion-col size="1" class="ion-align-self-start">
                  <ion-icon name="ellipsis-vertical" (click)="crud(dato)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
      <div *ngIf="guardarselected != dato">
        <ion-card (click)="select(dato,i)">
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="11">
                  <p>{{dato.name}}</p>
                  <h3><b>**** **** **** {{dato.number}}</b></h3>
                  <p>{{dato.date}}</p>
                </ion-col>
                <ion-col size="1" class="ion-align-self-start">
                  <ion-icon name="ellipsis-vertical" (click)="crud(dato)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>


    <div class="ion-text-center" (click)="agregartarjeta()">
      <ion-text color="primary">
        <p>
          <ion-icon slot="start" name="add"></ion-icon> Agregar tarjeta
        </p>
      </ion-text>
    </div>
</ion-content>

<ion-footer mode="md" class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <label>Monto</label>
    <div class="ion-text-center">
      <ion-text color="primary">
        <h3>{{monto}} Bs.</h3>
      </ion-text>
    </div>
    <div class="divider_20"></div>
    <ion-button shape="round" expand="full" color="white" (click)="introducir_monto()" ([ngModel])='monto'>
      <ion-text color="primary">
        Modificar monto
      </ion-text>
    </ion-button>
    <div class="divider_20"></div>
    <div *ngIf="  monto == 0 ">
      <ion-button shape="round" expand="full" color="primary" (click)="cargar_saldo(monto)" disabled="true">
        Cargar
      </ion-button>
    </div>
    <div *ngIf="  monto != 0 ">
      <ion-button shape="round" expand="full" color="primary" (click)="cargar_saldo(monto)">
        Cargar
      </ion-button>
    </div>

  </ion-toolbar>
</ion-footer>